{% macro color_display(object) %}
	{% if object.name is defined %}
		<div  class="line-number line-small" style="width:60px; height:20px;border: 1px solid black;color:{{ object.html }}; background-color:{{ object.html }}">
		</div>
	{% endif %}
{% endmacro %}
