<a href="{{ path('tisseo_boa_city_delete_stoparea', { 'stopAreaId':stopArea.id }) }}"
   class="btn btn-default delete-stop-area"
   data-stop_area_id="{{ stopArea.id }}"
>
    <span class="glyphicon glyphicon-remove"></span>{{ 'tisseo.global.delete'|trans }}
</a>