{% import "TisseoCoreBundle::macros.html.twig" as render %}
{% for line in lines %}
    <a class="link-line-version" href="{{ path('tisseo_boa_route_list', {'lineVersionId': line.lastLineVersion.id }) }}">
        {{ render.line_number(line, 'line', 'free') }}
    </a>
{% endfor %}