#application-navbar.container .navbar.navbar-default .navbar-brand a {
    font-size: 1em;
}

.ui-helper-hidden-accessible {
	position: absolute; 
	left: -9999px; 
}

hr {
	border-top: 1px solid black;
}

.type-select {
    width: 200px;
}

/**
* style for routes edition
*/
#newStop > input {
    margin-right: 53px;
    width: 81px;
}

.idRS, .idRS.col-sm-1 {
    display:none;
}
#submitStop {
    margin-right:53px;
}

#routeTable {
    margin-top: 30px;
}

#colServices {
    border-left: 1px solid #fff;
}
.cc.btn.btn-primary{
    margin-left:10px;
}
.copy {
    width: 10px;
    height: 3px;
    background: #fff;
    margin-left: 10px;
   }
#first.copy {
    width: 10px;
    height: 3px;
    background: #fff;
    margin: 3px;
}

.del-rs.btn.btn-danger{
    margin-left: 10px;
}

/**
* end routes style
**/

/* table datatable */

th.trips-cols {
    border: 1px solid #ccc;
}

/* datepicker + autocomplete fix chrome bug (on modal form) */
.datepicker {
	z-index:9999 !important;
}
.ui-autocomplete {
	z-index:9999 !important;
}

.form {
    border-radius:5px;
    border:1px solid #ccc;
}

.form-edit {
    padding:10px 10px 10px 10px;
    margin:10px 10px;
    display:inline-block;
    width:100%;
}

#saveList {
    margin-top: 30px;
    margin-left: 50%;
    margin-right: auto;
    text-align: center;
}

#formRoute {
    margin-left: auto;
    margin-right: auto;
    width: 21%;
}

#headRstops{
    background: #005A64;
    color: #fff;
}

#datatable_filter {
    margin-right: 40px;
    margin-bottom: 30px;
}
.btn_form_submit {
	padding-top: 21px;
}

.calendar_div {
	padding-top: 20px;
}

.last_week_of_month {
	border-bottom: thin solid white;
}

.first_day_of_month {
	border-left: thin solid white;
}

.first_week_of_month {
	border-top: thin solid white;
}

.calendar_view {
	padding-top: 10px;
}

.calendar_button {
	padding-top: 10px;
}

.calendar_date {
	margin-top: 7px;
}

.calendar_table {
	color: white;
	font-weight: bold;
	background-color: gray;
	width: 400px;
}

.calendar_cell {
	color: black;
	font-weight: normal;
	vertical-align: middle;
}

.month_cell {
	vertical-align: middle;
}

.inaccessible {
    background-color: silver;
}

.accessible {
    background-color: green;
}

.stop_table_header {
  background-color: #4F81BD;
  padding: 5px;
  line-height: 27px;
  width: 100%;
  display: inline-block;
  color: white;
  margin: 10px 0 0;
  cursor: pointer;
  text-decoration: none;
}

.line-number {
  border-radius: 3px;
  text-align: center;
  padding: 0 5px;
  display: table-cell;
}

.line-small {
  height: 30px;
  width: 30px;
  line-height: 32px;
}

.invalid {
    color: red !important;
}