.ui-helper-hidden-accessible {
    position:absolute;
    left:-9999px;
}
.type-select {
    width:200px;
}
/* color views */
.color-container {
    display:inline-block;
    border-radius:3px;
    width:60px;
    height:25px;
    border: 1px solid #aaa;
}
/* table datatable */
#datatable-filter {
    margin-right:40px;
    margin-bottom:30px;
}
.inaccessible {
    background-color:silver;
}
.accessible {
    background-color:green;
}
.invalid {
    color:red !important;
}
.summary {
  color:#000088;
  font-weight:bold;
  padding-left:5px;
  display:table-cell
}
/* TODO: This belongs to CoreBundle */
.head-number {
    display:inline-block;
}
.head-number {
    float:right;
}
.head-number div {
    display:inline-block;
}
.head-number .line-big {
    float:right;
}
/* stop views */
tr.closed-stop {
    display:none;
}
/* odt_area views */
tr.closed-odt-stop {
    display:none;
}
/* route-stop view */
table.sort tbody tr.route-stop {
    cursor:pointer;
}
/* calendar */
td.day.green, .legend.green {
    background-color:green;
    border-radius:0;
}
td.day.red, .legend.red {
    background-color:#cf0000;
    border-radius:0;
}
/* accessibility monitoring view */
span.monitoring.accessible {
    color:green;
    background-color:transparent;
}
span.monitoring.inaccessible {
    color:#cf0000;
    background-color:transparent;
}
div.legend {
    display:inline-block;
    width:15px;
    height:15px;
}
div.stop-monitoring-container {
    display: inline-block;
    padding: 10px;
    margin-bottom:10px;
    background:#e9e9e9;
    border-radius:5px;
}

.boa-inline-button {
    margin-top: 21px;
}


.label-control a{
    text-decoration: none;
    display: inline-block;
    padding: 4px 12px;
    margin: 5px;
    border: 1px solid #ddd;
}

.label-control a:hover {
    background-color: #ddd;
}

.label-control .previous {
    background-color: #f1f1f1;
    color: black;
}

.label-control .next {
    background-color: #f1f1f1;
    color: black;
}

.label-control .round {
    border-radius: 25%;
}