.ui-helper-hidden-accessible {
    position:absolute;
    left:-9999px;
}
.type-select {
    width:200px;
}
/* color views */
.color-container {
    display:inline-block;
    border-radius:3px;
    width:60px;
    height:25px;
    border: 1px solid #aaa;
}
/* table datatable */
#datatable-filter {
    margin-right:40px;
    margin-bottom:30px;
}
.calendar-div {
    padding-top:20px;
}
.last-week-of-month {
    border-bottom:thin solid white;
}
.first-day-of-month {
    border-left:thin solid white;
}
.first-week-of-month {
    border-top:thin solid white;
}
.calendar-table {
    color:white;
    font-weight:bold;
    background-color:gray;
    width:400px;
}
.calendar-cell {
    color:black;
    font-weight:normal;
    vertical-align:middle;
}
.month-cell {
    vertical-align:middle;
}
.inaccessible {
    background-color:silver;
}
.accessible {
    background-color:green;
}
.invalid {
    color:red !important;
}
.summary {
  color:#000088;
  font-weight:bold;
  padding-left:5px;
  display:table-cell
}
/* stop views */
tr.closed-stop {
    display:none;
}
